@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#header1-1 H1 {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
#header1-1 P {
  color: #000000;
}








#menu-16 .mbr-brand__name {
  font-size: 16px;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-16 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#header3-25 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-25 P {
  font-family: 'Open Sans', sans-serif;
}
#header3-34 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
#header3-34 H3 {
  font-size: 18px;
}
#slider2-18 H1 {
  text-align: left;
  color: #ffffff;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}
#slider2-18 P {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#header3-35 H3 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#image2-19 SMALL {
  font-size: 22px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#image2-19 B {
  font-size: 20px;
}






#menu-26 .mbr-brand__name {
  font-size: 16px;
}
#menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-26 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-26 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#header3-28 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-28 P {
  font-family: 'Open Sans', sans-serif;
}
#header3-36 H3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#header3-32 P {
  font-family: 'Open Sans', sans-serif;
}
#header3-32 H3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
